.toggle__collapse{
  transition: all 0.3s ease-in;
  
}

.imgs {
  width: 100px;
  margin-left: auto;
}
.nav__item {
  padding: 20px;
  text-decoration: none;
  display: flex;
  
}

.navbar__container{
  position: sticky;
  top:0;
  z-index: 10;
}
.nav_links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.nav_links a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #000;
  transition: all 0.5s ease-in;
}
.nav__item :hover {
  color: blue;
  border-bottom: 1px solid black;
  transform: scale(1.2);
}




.icon__nav {
  font-size: 25px;
}
.btn {
  padding: 25px;
}
.icon__nav {
  font-size: 30px;
}




@media screen and (max-width:650px) {
      .nav_links{
        display: flex;
        align-items: center;
        
      }  
      .nav__item .icon__nav{
        margin-top: 10px;
      }
      .nav__item{
        display: flex;
        flex-direction: row;
      }
      .header__input{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
}