.fillter-container{
    width: auto;
    height: auto;
}
.fillter-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 25px;
    margin-bottom: 30px;
}
.galleryWrapper{
    padding: 2% 3%;
}
.fillter-container ul button{
    background: #fff;
  color: black;
  padding: 8px 46px;
  text-transform: uppercase;
  border: navajowhite;
  font-size: 17px;
  border-radius: 10px;
}
@media screen and (max-width:650px) {
    .fillter-container ul button{
        padding: 10px 15px;
        height: 70px;
        border-radius: 10px;
        font-size: 10px;
        width: 70px;
    }
    
}